body,
html {
  height: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

label {
  margin: 15px 0px;
  font-size: large;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 15px;
  font-size: large;
  border-radius: 10px;
  background-color: salmon;
  border: 0;
  outline: none;
  color: white;
}

button {
  padding: 15px 30px;
  margin: 15px;
  font-size: large;
  color: #081229;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  border-radius: 10px;
  transition: ease-in 0.1s;
}
button:hover {
  background-color: chartreuse;
}

.content {
  height: 100%;
  padding: 20px;
  border-radius: 25px;
  background-color: #081229;
}

.form-group {
  padding: 5px 80px;
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 15px;
  color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
